<br><br>

<h1>Cakes in stock</h1>
<br>
<table class "centered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Buying cost</th>
      <th>Selling price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>==========</td>
      <td>==========</td>
      <td>==========</td>
      <td>==========</td>
      <td>==========</td>
    </tr>
    <% for order in @orders %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.category %></td>
      <td><%= order.quantity %></td>
      <td><%= order.buying_cost %></td>
      <td><%= order.selling_price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
