<br><br>

<h2>Cakes currently in stock</h2>
<br>
<table class="centered">
  <colgroup>
    <col style="background-color:gray">
    <col span="5">
  </colgroup>
  <thead class='bottom-border'>
    <tr>
      <th style="padding:0 5px 5px 5px;">ID</th>
      <th style="padding:0 15px 5px 15px;">Name</th>
      <th style="padding:0 15px 5px 15px;">Category</th>
      <th style="padding:0 5px 5px 5px;">Quantity</th>
      <th style="padding:0 5px 5px 5px;">Buying cost</th>
      <th style="padding:0 5px 5px 5px;">Selling price</th>
    </tr>
  </thead>
  <tbody>
    <% for order in @orders %>
    <tr>
      <td style="padding:0 5px 5px 5px;"><%= order.id %></td>
      <td style="padding:0 15px 5px 15px;"><%= order.name.capitalize %></td>
      <td style="padding:0 15px 5px 15px;"><%= order.category.capitalize %></td>
      <td style="padding:0 5px 5px 5px;"><%= order.quantity %></td>
      <td style="padding:0 5px 5px 5px;">£<%= order.buying_cost %></td>
      <td style="padding:0 5px 5px 5px;">£<%= order.selling_price %></td>
      <td style="padding:0 5px 5px 5px;"><%= order.manufacturer_id %></td>

      <td class="<% if order.quantity <= 1 %> order-low <% else %> order-ok <% end %>">stock level</td>
    </tr>
    <% end %>
  </tbody>
</table>
